* {
	box-sizing: border-box;
}

body {
	margin-top: 40px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;

	background-color: #222;
	color: #fff;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: #0c0;
}

#app-root {
	display: contents;
}

#title {
	font-size: 24px;
	margin: 4px 16px;
}

#description {
	margin: 0 16px;
}

.choropleth-map {
	width: 2000px;
	margin-right: 80px;
}

.county {
	stroke: #000;
	stroke-width: 0.5;
}

.legend-text {
	dominant-baseline: middle;
	font-size: 8px;
	fill: #fff;
}

#tooltip {
	background-color: rgba(0, 0, 0, 0.8);
	font-size: 16px;
	padding: 4px 8px;
	border-radius: 4px;
	width: max-content;
}